@import "../../assets/styles/variables";

.category {
  &_heading {
    font-weight: 500;
    text-transform: uppercase;
    background-color: $primaryColor;
    color: $whiteColor;
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 6px 10px;
    font-size: 17px;
  }
  &_list {
  }

  &_item {
    &_link {
      display: flex;
      column-gap: 8px;
      align-items: center;
      padding: 8px 10px;
      border: 1.4px solid #f0f0f0;
      border-top: unset;
    }
    &_image_wrappper {
      width: 22px;
    }
    &.active &_link {
      color: $primaryColor;
      font-weight: bold;
    }
  }
}
