@import "../../assets/styles/variables";

.slider_secondary {
  background-color: $secondaryColor;
  color: $whiteColor;
  &_image_wrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid $whiteColor;
    margin: 16px auto;
  }
  &_customer_opinion {
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 16px;
    margin-bottom: 16px;
  }
  &_customer {
    text-align: center;
    margin-bottom: 32px;
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }

  .slick-dots {
    bottom: 10px;
  }

  .slick-dots {
    li {
      width: 20px;
      height: 2px;
    }
    button {
      padding: unset;
      width: 20px;
      height: 2px;
    }
    & li button::before {
      content: "";
      opacity: 1;
      min-width: 100%;
      background-color: #fff;
      height: 3px;
      border-radius: 4px;
    }

    & li.slick-active button:before {
      opacity: 1;
      background-color: $primaryColor;
    }
  }
}
