.app_action_mobile {
  &_list {
    display: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  &_item_wrapper {
    width: 30px;
    height: 36px;
  }
}

@media screen and (max-width: 767px) {
  .app_action_mobile {
    &_list {
      display: flex;
    }
    &_item {
      font-size: 12px;
    }
  }
}
