.delivery {
  &_title {
    font-size: 18px;
    letter-spacing: 0.2px;
    margin-bottom: 6px;
  }
}
.checkout {
  &_method {
    &_list {
      border: 0.5px solid #c8c8c8;
      border-radius: 6px;
    }
    &_item {
      label {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 12px;
        column-gap: 16px;
      }
      &_product--image-wrapper {
      }
    }
    &_item:not(:last-child) {
      border-bottom: 0.5px solid #c8c8c8;
    }
    &_img_wrapper {
      width: 44px;
    }
  }
  &_footer {
  }
  &_wrapper {
    width: 64px;
    border-radius: 8px;
    overflow: hidden;
  }
  &_count {
    left: calc(100% - 12px);
    bottom: calc(100% - 12px);
  }
}
