@import "./assets/styles/main.scss";

.app_action {
  &_list {
    position: fixed;
    top: 30%;
    right: 0;
    transform: translateX(68%);
  }
  &_item {
    cursor: pointer;
    display: flex;
    background-color: #fff;
    transition: transform 0.5s ease;
    column-gap: 8px;
    padding: 8px 6px;
    margin-bottom: 8px;
    border: 0.1px solid #ececec;

    &:first-child img {
      margin-left: -7px;
      transform: scale(1.3);
    }
  }

  &_item:hover {
    transform: translateX(-(100% - 32%));
  }
  &_item_wrapper {
    width: 28px;
  }
}
