$primaryColor: #b71d21;

$secondaryColor: #6f1416;

$thirdColor: #e30000;

$whiteColor: #ffffff;

$blackColor: #000000;

$primaryFont: "Roboto Condensed";

$grayColor: #a7a7a7;

$grayTextColor: #363f4d;

$grayTextLightColor: #a4a4a4;

$grayTextLighterColor: #7a7a7a;
